@model Work_Wave.Models.Ticket

@{
    ViewData["Title"] = "Archive";
}

<h1>Archive</h1>

<h3>Are you sure you want to archive this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsArchived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsArchived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Technician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Technician.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Support)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Support.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Archive" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
