@model Work_Wave.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormatedPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Technician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Technician.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Support)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Support.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MyTickets"><button type="button" class="btn btn-primary" >Back to List</button></a>     <a asp-action="Edit" asp-route-id="@Model?.Id"><button type="button" class="btn btn-primary" >Edit</button></a>     <a href='@Model.AddressLink' method="get" target="_blank"><button type="button" class="btn btn-info" >Directions</button></a>     <a asp-action="Delete" asp-route-id="@Model?.Id"><button type="button" class="btn btn-danger" >Archive</button></a>
</div>
