@model IEnumerable<Work_Wave.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsArchived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Support)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.IsArchived == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CZip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Schedule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsArchived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Technician.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Support.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        @if (item.IsArchived == true)
                        {
                            <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                        }
                        else
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }             
            </td>
        </tr>
        }
}
    </tbody>
</table>
