@model IEnumerable<Work_Wave.Models.ViewModels.ManageUserRolesViewModel>


<div class="row">
    <hr>
  <h2 class="m-t-0 h3"><b>Manage Employee Roles </b></h2>
       <hr>
  @foreach (var member in Model)
  {

      <div>

    
      	<div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
      	    <div class="card-body">
      	    	<center><h4 class="text-muted">
      	    		Edit Roles for: <strong class="text-danger">@member.User.FullName</strong>
      	    	</h4>
      	    	<hr />
      	    	<form asp-action="ManageUserRoles" asp-controller="UserRoles" method=post>   
                      <input type="hidden" asp-for="@member.User.Id"/>
                      <div class="row">
                          <div>
                              <div class="form-group" >
                                  <label asp-for="@member.Roles" class="custom-label text-muted">Select the role you would like to assign @member.User.FirstName:</label>
                                  <select asp-for="@member.SelectedRoles" class="form-control" asp-items="@member.Roles" multiple></select>
                                  <hr>
                              </div>
                              <div class="form-group">
                                  <input type="submit" value="Assign Role" class="btn btn-warning text-muted" />
                              </div>
                          </div>
                      </div>
      	    	</form></center>
                 </div>
                 </div>
                 </div>


  }
